<h1>Certaincy News</h1>

<div>
    <div>
        <a [routerLink]="['/news-new']">
          <button>add</button>
        </a>
    </div>
    <div>
        <md-input-container>
            <input mdInput placeholder="Name" name="value">
        </md-input-container>
        <a md-button color="primary">Flat button</a>
        <a md-raised-button color="accent">Raised button</a>
        <a md-fab color="primary"><md-icon mdPrefix>check</md-icon></a>
        <a md-mini-fab color="primary"><md-icon mdSuffix>check</md-icon></a>
    </div>

    <div *ngFor="let newsitem of newsitems">
        <div>
            <div>
                <span>                   
                    <h2>{{newsitem.title}}</h2> 
                    <p><em>{{newsitem.date | date}}</em></p>
                </span>
                <p> {{newsitem.text}} </p>
                <p><b>Författare:</b> {{newsitem.author}}</p><div>
                    <a [routerLink]="['/news-detail', newsitem.id]">
                        <button>Läs</button>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>

